@use '../../styles/theme' as t;

.dashboard {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 1rem;
  min-height: 80vh;
  h1 {
    font-size: 2rem;
  }
}
.dashboardBoxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  @media (max-width: t.$tab-width) {
    flex-direction: column;
  }
}
