<!DOCTYPE html>
<html data-theme="light">
<head>
	<meta charset="UTF-8" />
    <meta name="theme-color" content="#22cc9d" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title><%= pageTitle %></title>
	<script src="/js/pageload.js?version=<%= version%>"></script>
	<meta property="og:description" content="Hasathcharu Meeting Portal" />
    <meta property="description" content="Hasathcharu Meeting Portal" />
	<meta property="og:image" content="https://meet.hasathcharu.com/images/embed.png" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://meet.hasathcharu.com" />
    <meta NAME="robots" CONTENT="noindex,nofollow">
	<link href="/css/main.css?version=<%=version%>" rel="stylesheet" type="text/css" />

    <link
		rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
		integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
		crossorigin="anonymous"
	/>
