@use '../../styles/theme' as t;

.menu{
    background-color: var(--popup-color);
    position:absolute;
    right:2rem;
    margin-top:1rem;
    padding:1rem;
    border-radius:1rem;
    z-index:999;
    .menuIcons{
        display:flex;
        justify-content: right;
    }
    .menuName{
        h4,h3,p{
            font-weight:400;
            margin:0;
        }
        p{
            font-size:.7rem;
        }
    }
    .menuOptions{
        ul{
            list-style-type: none;
            padding:0;
            margin:0;
            li{
                padding:.4rem .6rem;
                margin: 10px 0;
                cursor:pointer;
                border-radius: .6rem;
                @media (hover: hover) {
                    &:hover{
                        background-color: var(--darker-popup-color);
                    }
                }
                
            }
        }
    }
    .icon{
        text-align: center;
        cursor:pointer;
        height:1.5rem;
        width:1.5rem;
        line-height:1.5rem;
        font-size:1rem;
        border-radius:6px;
    }
    @media (max-width:t.$tab-width) {
        position:fixed;
    }
}
.menuBack{
    height:100vh;
    width:100vw;
    position:fixed;
    z-index:998;
}