@use '../../styles/theme' as t;
.inputBox{
    display:grid;
    span{
        margin-left:0.4rem;
        text-align:left;
    }
}
.input,
.textarea {
    margin: .2rem;
    border: 0;
    font-size: 1rem;
    outline: none;
    color: var(--mainfont-color);
    padding: 6px 8px;
    // border:2px solid var(--grey-font);
    // background-color: var(--input-box);
    border-radius: 10px;
    background:var(--input-box);
    // border-radius: .5rem;
    font-family: inherit;
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    transition: background-color .2s;
    &:focus{
        background-color: var(--input-box-hover);
    }

}
.errorMessage{
    margin-bottom:1rem;
    color:var(--danger);
}