@use '../../styles/theme' as t;

.signUp{
    min-height:80vh;
    display:grid;
    align-items: center;
    justify-content: center;
    h1{
        font-size:2rem;
        font-weight:400;
    }
    .signUpArea{
        max-width:60ch;
        min-width:30ch;
    }

}
.formError{
    padding:.1rem;
    background-color:var(--danger);
    color: var(--btn-color);
    border-radius:10px;
}
.successLottie{
    max-width:12rem !important;
}
.modalContent{
    text-align: center;
}