@use './theme' as t;

* {
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--darker-popup-color);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html {
  --mainfont: 'Poppins';
  --theme: #22cc9d;
  --danger: #ff7276;
  --warning: #fffaa0;
  --danger-hover: #d05f63;
  --tertiary: #6ec2f7;
  --tertiary-hover: #3eaef4;
  --btn-hover: #2dbd94;
  --btn-gradient: linear-gradient(145deg, #1fb88d, #24daa8);
  --secondary-btn-hover: #22cc9d;
  --hover-shadow: 0px 0px 0px 4px #22cc9d;
  --menu-active: var(--theme);
  --btn-color: #333333;
  --secondary-btn-color: var(--theme);
}
html.light {
  --background: #ffffff;
  --darker-popup-color: #bebebe;
  --menu-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  --secondary-btn-bg: #eeeeee;
  --mainfont-color: #333333;
  --btn-neumo-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  --input-box: #eeeeee;
  --input-box-hover: #dddddd;
  --popup-color: #eeeeee;
  --tooltip-color: #555555;
  --tooltip-font-color: var(--background);
  --box-color: #eeeeee;
  --menu-hover: #eeeeee;
  --svg-grey: brightness(0) saturate(100%) invert(39%) sepia(6%) saturate(14%)
    hue-rotate(322deg) brightness(95%) contrast(82%);
  --svg-black: brightness(0) saturate(100%);
  --svg-contrast: brightness(0%) saturate(100%);
  --svg-white: brightness(100%) saturate(0%);
  --svg-theme: brightness(0) saturate(100%) invert(56%) sepia(100%)
    saturate(366%) hue-rotate(113deg) brightness(99%) contrast(81%);
  --backdrop-bg: #00000044;
  ::selection {
    background: #22cc9d55;
  }
}
html.dark {
  --background: #111111;
  --mainfont-color: #dddddd;
  --secondary-btn-bg: #222222;
  --darker-popup-color: #444444;
  --menu-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
  --neumo-shadow: none;
  --popup-color: #333333;
  --tooltip-color: #eeeeee;
  --tooltip-font-color: var(--background);
  --menu-hover: #444444;
  --btn-neumo-shadow: 0 2px 40px -4px #22cc9d55;
  --input-box: #222222;
  --input-box-hover: #333333;
  --box-color: #444444;
  --svg-grey: brightness(0) saturate(100%) invert(96%) sepia(1%) saturate(1842%)
    hue-rotate(199deg) brightness(108%) contrast(73%);
  --svg-black: brightness(100%) saturate(0);
  --svg-contrast: brightness(0) saturate(100%);
  --svg-white: brightness(0) saturate(100%);
  --svg-theme: brightness(0) saturate(100%) invert(56%) sepia(100%)
    saturate(366%) hue-rotate(113deg) brightness(99%) contrast(81%);
  --backdrop-bg: #ffffff44;
  ::placeholder {
    color: #888888;
  }
  ::selection {
    background: #22cc9d35;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
body {
  color: var(--mainfont-color);
  background-color: var(--background);
  font-family: var(--mainfont);
  margin: 0;
}
section {
  // max-width:1024px;
  padding: 1rem;
  margin: auto;
  width: 100%;
  text-align: center;
  .sectionHeading {
    text-align: center;
  }
  h2.sectionHeading {
    padding: 1rem;
    display: inline-block;
    border-radius: 1rem;
    background-color: var(--box-color);
  }
  &:nth-last-child(2) {
    margin-bottom: 2rem;
  }
  @media (max-width: t.$mobile-width) {
    padding: 0.7rem;
    .sectionHeading {
      font-size: 1.3rem;
    }
    h2.sectionHeading {
      padding: 0.5rem 1rem;
      border-radius: 0.8rem;
    }
    margin-bottom: 5rem;
  }
}
section.hero-section {
  max-width: none;
  padding: 0 5rem;
  @media (max-width: t.$tab-width) {
    padding: 1rem;
  }
}
a {
  text-decoration: inherit;
  color: inherit;
}
section.placeHolder {
  min-height: 80vh;
}
